#product-overview {
  background: url("./images/freedom.png") left 40% top 25%;
  /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./images/freedom.png") top 20% left/cover; */
  width: 100vw;
  height: 33vh;
  margin-top: 2.63rem;
  position: relative;
}

/* adding a colored overlay */
/* #product-overview::before {
  content: ""; Create a pseudo-element
  position: absolute; Position it absolutely within the container
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; Set the overlay color to black
  opacity: 0.5; Set the overlay opacity to 50%
  z-index: 1; Make sure the overlay is positioned above the image
} */

#product-overview h1 {
  font-family: "Anton", sans-serif;
  color: var(--shade-one);
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 85%;
  font-size: 2rem;
  /* font: 2rem "Anton", sans-serif; */
}

.section-title {
  color: var(--color-four);
  text-align: center;
}

.plan {
  background: var(--color-three);
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
}

.plan h1, .plan h2, .plan h3{
  margin-top: 0;
}

.plan--highlighted {
  background: var(--color-five);
  color: var(--shade-one);
}

.plan__annotation {
  background: var(--shade-one);
  color: var(--color-five);
  max-width: 21rem;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: 0.13rem 0.13rem 0.13rem 0.13rem rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__title {
  color: var(--color-six);
}

.plan__price {
  color: var(--shade-four);
}

.plan--highlighted .plan__title {
  color: var(--shade-one);
}

.plan--highlighted .plan__price {
  color: var(--color-six);
}

/* if you want space at the start of the items and equal space between items, use margin. padding puts the space at the top and bottom of the list but then doubles the space between (padding is added up, margin cancels out) */

.plan__feature {
  margin: 0.5rem 0;
}

#key-features {
  background: var(--color-nine);
  padding: 1rem;
  border-bottom: 0.13rem solid white;
}

.key-features__container {
  max-width: 20rem;
  margin: 0 auto;
}

#key-features .section-title {
  color: var(--shade-one);
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: var(--color-eight);
  width: 8rem;
  height: 8rem;
  border: 0.13rem solid var(--shade-six);
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: var(--shade-one);
  font-size: 1.25rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: var(--shade-one);
  padding: 1rem;
  border: 0.06rem solid var(--shade-two);
  box-shadow: 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 0.06rem solid var(--color-six);
  background: var(--color-six);
  text-decoration: none;
  color: var(--shade-one);
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: var(--color-four);
  border-color: var(--color-four);
}

.modal__action--negative {
  background: var(--color-nine);
  border-color: var(--color-nine);
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #fd9696;
  border-color: #fd9696;
}

@media (min-width: 40rem) {
  #product-overview {
    background: url("./images/freedom.png") top 20% left/cover;
    margin-top: 3.5rem;
  }
  #product-overview h1 {
    font-size: 1.6rem;
  }
  #plans {
    text-align: center;
  }
  .plan__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 22rem;
    min-width: 13rem;
    max-width: 25rem;
    /* margin: 0 .25rem; */
  }
  /* .plan {
    display: inline-block;
    margin: 0.5rem;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  } */
  .plan__annotation {
    max-width: 16rem;
    margin: 1rem auto;
  }
  .plan--highlighted {
    height: 24rem;
    box-shadow: 0.13rem 0.13rem 0.25rem 0.19rem rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  #key-features {
    background: var(--color-nine);
    margin-top: 5rem;
    padding: 1rem;
    border-bottom: 0.13rem solid white;
  }
  .key-features__container {
    max-width: 80rem;
    margin: 0 auto;
  }
  .key-feature {
    display: flex;
    flex-direction: column;
    width: 24%;
  }
  .key-feature__list{
    display: flex;
    justify-content: space-around;
  }
  .modal__title {
    font-size: 2rem;
  }
}
